<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="testdata.server.numberOfInstances" value="3"/>
		<add key="testdata.server.operatingSystem" value="Paid: Windows Server 2012 R2, Windows Server 2016, Windows Server 2019, Windows Server (2004, 20H2)"/>
		<add key="testdata.server.instanceSeries" value="N1"/>
		<add key="testdata.server.instanceType" value="n1-standard-16 (vCPUs: 16, RAM: 60GB)"/>
		<add key="testdata.server.numberOfGpu" value="2"/>
		<add key="testdata.server.gpuType" value="NVIDIA Tesla V100"/>
		<add key="testdata.server.localSsd" value="5x375 GB"/>
		<add key="testdata.server.datacenterLocation" value="Taiwan (asia-east1)"/>
		<add key="testdata.server.committedUsage" value="3 Years"/>
	</appSettings>
</configuration>