<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="testdata.server.numberOfInstances" value="4"/>
		<add key="testdata.server.operatingSystem" value="Free: Debian, CentOS, CoreOS, Ubuntu or BYOL (Bring Your Own License)"/>
		<add key="testdata.server.instanceSeries" value="N1"/>
		<add key="testdata.server.instanceType" value="n1-standard-8 (vCPUs: 8, RAM: 30GB)"/>
		<add key="testdata.server.numberOfGpu" value="1"/>		
		<add key="testdata.server.gpuType" value="NVIDIA Tesla P100"/>
		<add key="testdata.server.localSsd" value="2x375 GB"/>
		<add key="testdata.server.datacenterLocation" value="Frankfurt (europe-west3)"/>
		<add key="testdata.server.committedUsage" value="1 Year"/>
	</appSettings>
</configuration>